# Секрети (не потрапляють в Docker-образ!)
.env
credentials.json
gmail_credentials.json

# Python кеші та лог-файли
__pycache__/
*.pyc
*.log

# Репорти, які генеруються
*.zip
/reports/

# Git-папки
.git/
.gitignore

# Інше
.DS_Store
