# Секрети
.env
# ігноруй всі .json крім ключа для GCP
*.json
!autoreportbot-5392a52edec4.json


# Python кеші
__pycache__/
*.pyc
*.pyo
*.log

# Репорти
/reports/
*.zip

# Git
.git
.gitignore

# IDE/OS
.DS_Store
.vscode/
