# Секрети та облікові дані
# ---------------------------------
.env
*.env.*
credentials.json
gmail_credentials.json
gcp_*.json
token.json


# Віртуальне середовище Python
# ---------------------------------
venv/
.venv/


# Кеш та компільовані файли Python
# ---------------------------------
__pycache__/
*.py[cod]


# Логи, архіви та тимчасові файли
# ---------------------------------
*.log
.tmp/
*.zip
*.tar.gz


# Згенеровані файли та папки
# ---------------------------------
reports/
screenshots/


# Конфігурація IDE та інструментів
# ---------------------------------
.vscode/
google-cloud-sdk/