# Google & AI
google-auth
google-auth-oauthlib>=1.0.0
google-generativeai
google-cloud-aiplatform
gspread
oauth2client
google-cloud-secret-manager # <-- ДОДАНО: залежність для роботи з Secret Manager

# Web & UI
streamlit
jinja2

# Data & Reporting
pandas
weasyprint

# Utilities
python-dotenv

# Development & Testing
pytest
flake8
black
